<head>
<style>
html {
  scroll-behavior: smooth;
}

</style>
</head>

<body>
    <div class='pink-sky'>
        <div class='sun'> 
            <h1 class='first-name'>adria</h1>
        </div>
    </div>

    <div class='blue-water'>
        <h1 class='last-name'>lwin</h1> 
        <div class='buffer'></div>

        <div class='scroll-page' id="about">
            <h2 class='title'>about me 
            <br>
                <p class='bio'>Hi! My name is Adria. I am a University of British Columbia graduate with a background in biological sciences and a passion for creating cool things. 
                </p>
            </h2>
        </div>

        <div class='scroll-page' id="projects">
            <h2 class='title'>some things I built!</h2>
        </div>

        <div class='scroll-page' id="contact">
            <h2 class='title'>get in touch!</h2>
        </div>
    </div>

    

    <%
=begin%>
 <div class="d-flex align-items-center justify-content-center">
        <h1>Welcome!</h1>
        <p>Hi! My name is Adria.</p>
    </div> 
<%
=end%>
 </body>

<!--
<%= link_to "About me", about_path %>
<%= link_to "My CV", cv_path %>
<%= link_to "Personal Projects", projects_path %>
-->






