<head>
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arvo&family=Bitter:wght@300;400&family=Domine&family=IBM+Plex+Serif:wght@300;400&family=Inconsolata:wght@200;300;400&family=Libre+Baskerville:ital@0;1&family=Lora:ital@0;1&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Oxygen:wght@300;400&family=Roboto+Serif:opsz,wght@8..144,300;8..144,400&family=Sawarabi+Mincho&family=Source+Code+Pro:wght@300;400&display=swap"
        rel="stylesheet">
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
</head>

<body>
    <div class='pink-sky'>
        <section class='sun'>
            <h1>adria</h1>
        </section>
    </div>

    <div class='blue-water'>
        <h1>lwin</h1>
        <!-- <div class='buffer'></div> -->
        <div class='scroll-page' id="about">
            <h2>about me</h2>
            <p class='bio'>
                Hi! My name is Adria. I’m a self-taught programmer and a University of British Columbia
                graduate with a background in biological sciences. I am currently looking for new opportunities,
                so please reach out if you would like to know more! You can also keep reading for a slightly
                longer spiel about myself.
                <span id='paragraph-break'>____</span>
                <br>
                I’ve always loved making things from scratch with my own hands (or fingers!) and I love learning
                new things and facing challenges head on. When I was at UBC I took an introductory computer
                science course which I really enjoyed. After that, I took a few more courses spanning algorithms
                and data structures to software design, and decided to continue building on that knowledge after
                I graduated.
                <br>
                <br>
                This self-teaching experience has been challenging at times (looking at you ambiguous Heroku
                errors...) but mostly it’s been incredibly exciting. The best part is that I’ve barely scratched
                the surface! Some topics I’m interested in and would love to learn more about are artificial
                intelligence, cyber security, database management and eCommerce to name a few.
                <br>
                <br>
                Outside of the realm of tech and computer science my hobbies include painting, reading, baking,
                and attempting to teach myself Korean so I can understand BTS lyrics. I also love being outdoors, so
                when the weather’s nice you can find me hiking, trying to improve my tennis game or just wandering
                around snapping pictures of cool looking clouds.
            </p>
        </div>

        <!-- <div class='buffer'></div> -->

        <div class='scroll-page' id="projects">
            <h2 id="recent-work">
                my recent <br>
                work
            </h2>
            <section class="projects">
                <section class="app">
                    <a href="https://github.com/sayhith/chinese-checkers" target="_blank"
                        rel="noopener noreferrer"><button class="cc-button" id="overlay"></button></a>
                    <section class="description">
                        <p>A two player Chinese checkers console app I built in Java. The board is represented using
                            a 2D array. Still a work in progress- next steps: one-player mode and a GUI!</p>
                        <span class="skill">JAVA</span>
                        <span class="skill">JUNIT</span>
                        <span class="skill">VSCODE</span>
                        <span class="skill">MARKDOWN</span>
                        <span class="skill">ARRAYS</span>
                        <span class="skill">GIT</span>
                        <span class="skill">GITHUB</span>
                    </section>
                </section>

                <section class="app">
                    <a href="https://github.com/sayhith/personal-website" target="_blank"
                        rel="noopener noreferrer"><button class="website-button"> </button></a>
                    <section class="description">
                        <p>This one's pretty self-explanatory. Click on the button to check out the Github repo!</p>
                        <span class="skill">RUBY</span>
                        <span class="skill">RAILS</span>
                        <span class="skill">HTML</span>
                        <span class="skill">CSS</span>
                        <span class="skill">HEROKU</span>
                        <span class="skill">BOOTSTRAP</span>
                        <span class="skill">FIGMA</span>
                    </section>
                </section>
            </section>
        </div>

        <!-- <div class='buffer'></div> -->

        <div class='scroll-page' id="contact">
            <h2 class="goodbye">get in touch</h2>
            <section class='contacts'>
                <!-- <%= image_tag "Daco_4064141.png" %> -->
                <img class="email-logo" src="/assets/Daco_4064141" width=30 height=20>
                <h3>adrialwin@gmail.com<h3>
                    <a href="https://www.linkedin.com/in/adrialwin/" target="_blank" rel="noopener noreferrer">
                        <img class="sm-logo" src="/assets/linkedin" width=30 height=30>
                    </a>
                    <a href="https://github.com/sayhith" target="_blank" rel="noopener noreferrer">
                        <img class="sm-logo" src="/assets/github" width="30 height=30">
                    </a>
            </section>
            <br>
            <br>
            <br>
            <h4>thanks for stopping by!</h4>
        </div>
    </div>
</body>