<head>
    <title>Title</title>
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
</head>

<body>
    <div class='pink-sky'>
        <section class='sun'>
            <h1>adria</h1>
        </section>
    </div>

    <div class='blue-water'>
        <h1>lwin</h1>
        <section class='buffer'></section>
        <section class='scroll-page' id="about">
            <h2>about me</h2>
            <p class='bio'>
                Hi! My name is Adria. I’m a self-taught programmer and a University of British Columbia
                graduate with a background in biological sciences. I am currently looking for new opportunities,
                so please reach out if you would like to know more! You can also keep reading for a slightly
                longer spiel about myself.
                <span id='paragraph-break'>____</span>
                <br>
                I’ve always loved making things from scratch with my own hands (or fingers!) and I love learning
                new things and facing challenges head on. When I was at UBC I took an introductory computer
                science course which I really enjoyed. After that, I took a few more courses spanning algorithms
                and data structures to software design, and decided to continue building on that knowledge after 
                I graduated. 
                <br>
                <br>
                This self-teaching experience has been challenging at times (looking at you ambiguous Heroku
                errors) but mostly it’s been incredibly exciting. The best part is that I’ve barely scratched 
                the surface! Some topics I’m interested in and would love to learn more about are artificial 
                intelligence, cyber security, database management and eCommerce to name a few.
                <br>
                <br>
                Outside of the realm of tech and computer science my hobbies include painting, baking, tennis,
                hiking and attempting to teach myself Korean so I can understand BTS lyrics. I also love being
                outdoors, so when the weather’s nice you can find me hiking, trying to improve my tennis game or
                just wandering around snapping pictures of cool looking clouds.
            </p>
        </section>
        <section class='buffer'></section>
        <section class='scroll-page' id="projects">
            <h2>
                My Recent <br>
                Work
            </h2>
        </section>
        <section class='buffer'></section>
        <section class='scroll-page' id="contact">
            <h2>Get in touch!</h2>
            <section class='contacts'>
                <img src='/assets/Daco_4064141' width=30 height=20>
                <h3>adrialwin@gmail.com<h3>
            </section>
        </section>
    </div>
</body>