<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome!</h1>
    <p>Hi! My name is Adria.</p>
</div>

<!--
<%= link_to "About me", about_path %>
<%= link_to "My CV", cv_path %>
<%= link_to "Personal Projects", projects_path %>
-->




