/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0;
    border: 0;
    padding: 0;
}

.home {
    margin: 1rem;
}

.pink-sky {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    min-height: 55vh;
    width: 100%;
    background: #FFA8A8;
}

.sun {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    /* max-height: 236px; */
    min-width: 486px;
    height: 38vh;
    width: 38vw;
    border-radius: 50vw 50vw 0 0;
    background: #FFD1A7;
}

.sun h1 {
    position: relative;
    align-self: flex-start;
    left: 3.5vw;
    bottom: -1.5vw;
    font-family: 'Lora', serif;
    font-size: 9.1rem;
    color: #5B5B5B;
}

.blue-water {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: min-content;
    background: linear-gradient(360deg, #01337E 6.77%, #7dc9ff 92.19%);
}

.blue-water h1 {
    position: relative;
    left: 10vw;
    padding-bottom: 15vh;
    font-family: 'Lora', serif;
    font-size: 5.6rem;
    color: white;
}

.navbar {
    padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-family: 'Inconsolata', monospace; 
    font-size: 1.2rem;
    padding: 0.8vw;
    margin: 0.8vw;
    color: white;
}

.navbar-nav {
    padding-right: 0.85vw;
}

.scroll-page {
    scroll-margin-block-start: 0.8vh;
    position: relative;
    padding-top: 25vh;
    min-height: 100vh;
    width: 100vw;
    align-items: center;
}

.scroll-page h2 {
    margin-left: 10vw;
    margin-bottom: 5vh;
    font-family: 'Bitter', serif;
    font-size: 2.5rem;
    color: rgb(224, 248, 255);
}

.scroll-page .bio {
    margin-left: 10vw;
    align-self: center;
    font-family: 'Inconsolata', monospace;    
    font-size: 0.95rem;
    color: white;
    width: 53vw;
}

.scroll-page p {
    margin-top: 1vh;
    font-family: 'Inconsolata', monospace; 
    font-size: 0.95rem;
    color: white;
}

#paragraph-break {
    display: block;
    text-align: center;
}

.scroll-page .projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.app button {
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
    padding: 40px;
    margin-right: 4vw;
    margin-top: 1vh;
    border-radius: 50%;
    transition: 0.5s all ease-in-out;
}

.app button:hover {
    background-image: url(/assets/github-logo);
    transform: scale(1.2);
    opacity: 40%;
}

.cc-button {
    background-image: url(https://grene-prod-omni.azureedge.net/catalog/24098-3-40022768_pack_a.png?height=1246&width=2560&quality=70&format=jpg&mode=max);
}

.website-button {
    background-image: url(/assets/website);
}

.app {
    display: flex;
    flex-direction: row;
    width: 53vw;
    margin-left: 10vw;
    margin-bottom: 7vh;
}

.skill {
    margin-right: 1.3vw;
    font-family: 'Inconsolata', monospace;    
    font-weight: 350;
    font-size: 0.9rem;
    color:#FFD1A7;
}

.goodbye {
    position: relative;
    margin: 0 !important;
    padding-top: 10vh;
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 7rem !important;
    color: rgb(224, 248, 255);
}

.email {
    display: flex;
    flex-direction: row;
}

.contact-logos {
    margin-top: 5vh;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.contact-logos .email-logo {
    margin-right: 1vw;
    margin-top: 0.7vh;
}

.contact-logos .sm-logo {
    margin-left: 6vw;
}

.contact-logos .sm-logo:hover {
    transform: scale(1.2);
}

.contact-logos .email-logo:hover {
    transform: scale(1.2);
}

.contact-logos h3 {
    align-self: center;
    text-align: center;
    font-family: 'Inconsolata', monospace;  
    font-size: 1.4rem;
    font-weight: 350;
    color: white;
}

@media only screen and (min-width: 1200px) {
    .sun h1 {
        font-size: 11vw;
    }

    .blue-water h1 {
        font-size: 6vw;
    }
}

@media only screen and (max-width: 1000px) {
    .sun h1 {
        left: 6vw;
    }

    .blue-water h1 {
        left: 16vw;
    }

    .scroll-page {
        padding-left: 12vw;
    }

    #contact {
        margin: 0 !important;
        padding-bottom: 10vh !important;
        padding-left: 0 !important;
    }
    
    .scroll-page .bio {
        width: 60%;
    }

    .app {
        width: 60%;
    }

    .skill {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 600px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 1rem;
    }

    .sun {
        width: 80%;
        height: 38vw;
        min-width: 0;
    }

    .sun h1 {
        font-size: 23vw;
        left: 7vw;
        bottom: -3vw;
    }

    .blue-water h1 {
        font-size: 14vw;
        left: 20vw;
    }

    .goodbye {
        padding-top: 0;
    }

}

