/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

@font-face {
    font-family: Lora;
    src: url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap rel=stylesheet>");
}

body {  
    margin: 0;
    border: 0;
    padding: 0;
}
.home {
    margin: 1rem;
}

.pink-sky {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    min-height: 55vh;
    background: #FFA8A8;
}

.pink-sky .sun {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    height: 15rem;
    width: 30rem;
    border-radius: 20rem 20rem 0 0;
    background: #FFD1A7;
}

.sun h1 {
    position: relative;
    align-self: flex-start;
    left: 3rem;
    bottom: -1.5rem;

    font-family: 'Lora', serif;
    font-size: 9rem;
    color: #5B5B5B;
}

.blue-water {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400%;
    background: linear-gradient(360deg, #01337E 6.77%, #7dc9ff 92.19%);
}

.blue-water h1 {
    position: relative;
    left: 8rem;

    font-family: 'Lora', serif;
    font-size: 6rem;
    color: white;
}

.buffer {
    /* position: relative; */
    height: 40vh;
}

.navbar {
    padding: 0;
}

/* .container-fluid{
    background: #FFA8A8;
} */

.navbar-expand-lg .navbar-nav .nav-link {
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    padding: 1rem;
    color: white;
}
.navbar-nav {
    padding-right: 0.8rem;
}

.scroll-page {
    scroll-margin-top: 15vh;
    /* position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: auto; */
    min-height: 110vh;
    width: 100vw;
  }

.scroll-page h2 {
    /* position: relative; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    padding-left: 10vw;
    padding-bottom: 4vh;
    font-family: 'Lora', serif;
    font-size: 2rem;
    color: white;
}

.scroll-page .bio {
    /* position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
    padding-left: 10vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* top: 40em;
    left: 10vw; */
    font-size: 1.1rem;
    font-weight: lighter;
    color: white;
    width: 58vw;
}

#paragraph-break {
    display: block;
    text-align: center;
}

/* .scroll-page .projects-title {
    position: static;
    display: block;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    padding: 1rem;

    height: auto;
    width: 50%;

    left: -35.3vw;
    top: 35em;
    font-family: 'Lora', serif;
    font-size: 2rem;
    color: white;
} */

/* .scroll-page .contact-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 1rem;

    min-height: 30vh;
    width: 50%;

    left: -15vw;
    top: 35vh;
    font-family: 'Lora', serif;
    font-size: 2rem;
    color: white;
} */

/* .scroll-page .contact-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    justify-content: space-between;

    min-height: 50vh;
    width: 60vw;
    left: -15vw;
    top: 35vh;
    font-family: 'Lora', serif;
    font-size: 2rem;
    color: white;
} */

.contacts {
    /* position: relative; */
    display: flex;
    flex-direction: row;

    align-content: center;
    /* justify-content: space-between; */

    min-height: 50vh;
    width: 60vw;
    left: -15vw;
    top: 35vh;
    font-family: 'Lora', serif;
    font-size: 2rem;
    color: white;
}
