/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

@font-face {
    font-family: Lora;
    src: url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap rel=stylesheet>");
}

body {  
    margin: 0;
    padding: 0;
    border: 0;
}

.pink-sky {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    min-height: 45vh;
    background: #FFA8A8;
}

.pink-sky .sun {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    height: 15rem;
    width: 30rem;
    border-radius: 20rem 20rem 0 0;
    background: #FFD1A7;
    ;
}

.sun .first-name{
    position: relative;
    align-self: flex-start;
    left: 3rem;
    bottom: -1.5rem;

    font-family: 'Lora', serif;
    font-size: 9rem;
    color: #5B5B5B;
}

.blue-water {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000vh;
    background: linear-gradient(360deg, #01337E 6.77%, #89CDFF 92.19%);
}

.blue-water .last-name {
    position: relative;
    left: 8rem;

    font-family: 'Lora', serif;
    font-size: 6rem;
    color: white;
}

.buffer {
    position: relative;
    min-height: 45vh;
}

.navbar {
    padding: 0;
}

.container-fluid{
    background: #FFA8A8;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-family: 'Lora', serif;
    font-size: 1.4rem;
    padding-left: 2rem;
}

.scroll-page {
    display: flex;
    align-items: baseline;
    justify-content: left;
    height: 100%;
    font-size: 5em;
  }
